.footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #001529;

    h4 {
        color: #fff;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .footer-links a {
        margin-right: 10px;
        color: #0071bd !important;
    }
}